<h1>Are you sure you want to delete?</h1>
<p>Are you sure you want to delete your account?</p>
<p>
  This action cannot be undone. This will permanently delete your account and
  remove your data from our servers. To confirm deletion, click this link:
  <a href="<%= locals.linkWithToken %>">CONFIRM DELETION</a>
</p>
