<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= HTML_TITLE %></title>
  </head>
  <body>
    <div
      class="w-full h-full flex flex-col gap-y-4 justify-center items-center"
    >
      <h1 class="text-4xl font-bold">🎉 Installed! 🚀</h1>
      <p class="text-xl">Thank you for installing <%= DISPLAY_NAME %>! ❤️</p>
      <p class="text-lg">
        To start using the extension, add your API-key in
        &lt;LINK-TO-OPTIONS&gt;
      </p>
      <p>Version: <%= VERSION %></p>

      <div class="grid grid-cols-2 gap-4 text-center">
        <div
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200
            hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
        >
          <h2 class="mt-2 font-bold text-lg">Hot Reload</h2>
          <p class="text-gray-600">
            HMR updates without page reload. Powered by awesome Vite!
          </p>
        </div>
      </div>
    </div>

    <script type="module" src="index.ts"></script>
  </body>
</html>
